@font-face {
    font-family: "HouschkaProBold"; 
    src: url(fonts/HouschkaPro-Bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "HouschkaProMedium"; 
    src: url(fonts/HouschkaPro-Medium.otf); /* Путь к файлу со шрифтом */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
}
.content {
	width: 98vw;
	background-color: #b9d6ef;
	margin-left: auto;
	margin-right: auto;
	font-family: "HouschkaProBold";
	border: solid 3px red;
}

.sky {
	height: 47vw;
	border-bottom: solid 6px #daecf1;
}
.clouds img {
	width: 100%;
}
.info {
	margin-top: 3vw;
	text-align: center;
}
h1 {
	font-size: 7.2vw;
    text-transform: uppercase;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.17);
	color: #fefefe;/*
	padding-left: 242px;*/
}
h2 {
	font-size: 1.4vw;
	text-transform: uppercase;
	font-family: "HouschkaProMedium";
	color: #266B97;
    padding-top: 0.2vw;
}
form {
	margin: 0 auto;
    padding-top: 1.8vw;
}
.email {
	font-size: 1.2vw;
    font-family: "Arial";
    color: #808080;
	height: 3.7vw;
    width: 24vw;
    padding-left: 1vw;
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 5px 0px rgba(29, 26, 22, 0.2);
}
.btn {
	font-size: 1.4vw;
	font-family: "HouschkaProBold";
	text-shadow: 0px 1px 1px rgba(29, 26, 22, 0.2);
	letter-spacing: -0.03vw;
	color: #ffffff;
	height:3.7vw;
	width: 9.3vw;
	margin-left: 0.5vw;
	padding-left: 0.1vw;
	background-image: url(images/button.gif);
	border: solid 1px #fbc641;
	border-radius: 2px;
}
.ship {
	padding-top: 19.8px;
    margin-left: 301px;
}

.sea {
	height: 46.7vh;
	border-top: solid 9px  #327dad;
	background-color: #266b97;
	margin-top: -2px;
}
.ice {
	margin-top: -198px;
    margin-left: 326px;
}


.crono ul {
	list-style: none;
	margin-left: 344px;
    margin-top: -243px;
}
.crono li {
	display: inline-block;
	text-align: center;
}
.hours {
	margin: 0 27px 0 32px;
}
.crono div {
	font-size: 24px;
	color: #266b97;
	height: 70px;
	width: 70px;
	margin: 0 auto;
	background-color: #b9d6ef;
	border-radius: 50%;		
}
.crono span {
	font-family: "HouschkaProMedium";
	display: inline-block;
	padding-top: 21px;
}
.crono p {
	font-size: 24px;
	text-transform: uppercase;
	color: #f3f3f3;
	margin-top: 4px;
}




