@font-face {
    font-family: "HouschkaProBold"; 
    src: url(fonts/HouschkaPro-Bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "HouschkaProMedium"; 
    src: url(fonts/HouschkaPro-Medium.otf); /* Путь к файлу со шрифтом */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: #266b97;
	position: relative;
	font-family: "HouschkaProBold";
}
/*.skyback {
	height: 47vmin;
	width: 100%;
	background-color: #b9d6ef;
	border-bottom: solid 0.6vmin #daecf1;
	/*position: absolute;*/
}*/
.content {
	width: 100vmin;
	margin: 0 auto;
}

.sky {
	height: 47.7vmin;
	background-color: #b9d6ef;
	border-bottom: solid 0.6vmin #daecf1;
}
.clouds {
	width: 100vmin;
	margin: 0 auto;
}
.clouds img {
	width: 100%;
    /*margin-left: 0vmin;
    margin-top: 0vmin;*/
}
.info {
	margin-top: 3.2vmin;
	text-align: center;
}
h1 {
	font-size: 7.2vmin;
    text-transform: uppercase;
    letter-spacing: 0.07vmin;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.17);
	color: #fefefe;
	margin-left: 2.5vmin;
}
h2 {
	font-size: 1.4vmin;
    text-transform: uppercase;
    letter-spacing: 0.01vmin;
    font-family: "HouschkaProMedium";
    color: #266B97;
    padding-top: 0.3vmin;
    margin-left: -0.5vmin;
}
form {
	/*margin: 0 auto;*/
    /*padding-top: 1.9vmin*/
    margin-top: 1.8vmin;
}
.email {
	font-size: 1.3vmin;
    font-family: "Arial";
    letter-spacing: -0.04vmin;
    color: #808080;
    height: 3.7vmin;
    width: 24.3vmin;
    padding-left: 1vmin;
    border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 5px 0px rgba(29, 26, 22, 0.2);
}
.btn {
	font-size: 1.4vmin;
	font-family: "HouschkaProBold";
	text-shadow: 0px 1px 1px rgba(29, 26, 22, 0.2);
	letter-spacing: -0.03vmin;
	color: #ffffff;
	height:3.7vmin;
	width: 9.3vmin;
	margin-left: 0.5vmin;
	/*padding-left: 0.1vmin;*/
	background: url(images/button.gif) no-repeat ;
	background-size: cover;
	border: solid 1px #fbc641;
	border-radius: 2px;
}

.sea {
	height: 33.2vmin;
	border-top: solid 0.9vmin #327dad;
	background-color: #266b97;
	/*margin-top: -0.0vmin;*/
	position: relative;
}

.ship {
	width: 4.9vmin;
    top: -2.6vmin;
    left: 30.5vmin;
    background-size: cover;
    position: absolute;
}
.ship img {
	width: 100%;
}

.ice {
	width: 100vmin;
	margin: 0 auto;
}
.ice img {
	/*margin-top: -19.8vmin;
    margin-left: 30.9vmin;*/
	/*width: 100%;*/
	width: 33.1vmin;
    margin-top: -20vmin;
    margin-left: 33.3vmin;
}
.crono { 
	width: 100vmin;
	margin: 0 auto;
}
.crono ul {
	list-style: none;
    margin-left: 35.1vmin;
    margin-top: -24.4vmin;
}
.crono li {
	display: inline-block;
	text-align: center;
}
.hours {
	margin: 0 3vmin 0 3.2vmin;
}
.crono div {
	font-size: 2.4vmin;
	color: #266b97;
	height: 7vmin;
	width: 7vmin;
	margin: 0 auto;
	background-color: #b9d6ef;
	border-radius: 50%;		
}
.crono span {
	font-family: "HouschkaProMedium";
	display: inline-block;
	padding-top: 2.1vmin;
}
.crono p {
	font-size: 2.4vmin;
	text-transform: uppercase;
	color: #f3f3f3;
	margin-top: 0.5vmin;
}




