@font-face {
    font-family: "HouschkaPro";
    src: url(fonts/HouschkaPro.otf); /* Путь к файлу со шрифтом */
   }
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 980px;
	height: 800px;
	background-color: #b9d6ef;
	margin-top: 20px;
	margin-left: 20px;
	position: relative;
	font-family: "HouschkaPro"
}
.posAbs {
	position: absolute;
}

.cloud1 {
	left: 512px;
	z-index: 1;
}
.cloud2 {
	left: 131px;
	z-index: 2;
}

.info {
	top: 95px;
    /*left: 189px;*/
	z-index: 3;
}
h1 {
	font-size: 72px;
    text-transform: uppercase;
	color: #fefefe;
	margin-left: 242px;
}
h2 {
	font-size: 15px;
	text-transform: uppercase;
	color: #266B97;
	margin-left: 346px;
    margin-top: 2px;
}
form {
	margin-left: 319px;
    margin-top: 18px;
}
.email {
	height: 37px;
    width: 240px;
    padding-left: 9px;
	border-radius: 4px;
	background-color: #ffffff;
}
.btn {
	font-size: 14px;
	font-family: "HouschkaPro";
	color: #ffffff;
	height:37px;
	width: 92px;
	margin-left: 6px;
	border-radius: 4px;
	background-color: #f5a62a;
}

.sea {
	top: 464px;
	z-index: 10;
}
.ship {
	top: 452px;
    left: 301px;
	z-index: 20;
}
.ice {
	top: 279px;
	left: 326px;
    z-index: 30;
}